<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:insert="~{fragments.html :: header}"></head>

<body class="d-flex align-items-center py-4 bg-body-tertiary">
    <main class="form-signin w-100 m-auto">
        <div class="alert alert-danger" role="alert" th:text="${errorMessage}" th:if="${errorMessage}"></div>
        <form th:action="@{/signup}" th:object="${userForm}" method="post" id="signup-form" class="signup-form">
            <p>Register a new account</p>
            <input id="userHandle" name="userHandle" th:field="*{userHandle}" type="hidden" />
            <div class="form-floating">
                <input type="email" class="form-control" id="username" th:field="*{username}"  placeholder="name@example.com" required>
                <label for="username">Email address</label>
            </div>
            <button class="btn btn-info w-100 py-2" type="submit">Register a new passkey</button>

            <input id="clientDataJSON" name="clientDataJSON" th:field="*{clientDataJSON}" type="hidden" />
            <input id="attestationObject" name="attestationObject" th:field="*{attestationObject}" type="hidden" />
            <input id="clientExtensions" name="clientExtensions" th:field="*{clientExtensions}" type="hidden" />
        </form>
    </main>
    <script th:src="@{/js/base64url.js}"></script>
    <script>
        // Availability of `window.PublicKeyCredential` means WebAuthn is usable.
        if (!window.PublicKeyCredential) {
            window.alert("WebAuthn not supported by this browser");
        } else {
            // Registration
            document.getElementById("signup-form").addEventListener("submit", async (e) => {
                e.preventDefault();
                const userHandle = document.getElementById("userHandle").value;
                const username = document.getElementById("username").value;

                try {
                    const optionsRes = await fetch("/webauthn/attestation/options");
                    const options = await optionsRes.json();

                    let ccOptions = {
                        ...options,
                        challenge: decodeBase64url(options.challenge),
                        user: {
                            id: decodeBase64url(userHandle),
                            name: username,
                            displayName: username,
                        },
                        excludeCredentials: options.excludeCredentials.map((credential) => ({
                            ...credential,
                            id: decodeBase64url(credential.id),
                        })),
                        authenticatorSelection: {
                            requireResidentKey: true,
                            userVerification: "discouraged",
                        },
                    };

                    const credential = await navigator.credentials.create({
                        publicKey: ccOptions,
                    });

                    console.log("Created credential: ", credential);

                    document.getElementById("clientDataJSON").value = encodeBase64url(credential.response.clientDataJSON);
                    document.getElementById("attestationObject").value = encodeBase64url(credential.response.attestationObject);
                    document.getElementById("clientExtensions").value = JSON.stringify(credential.getClientExtensionResults());
                    document.getElementById("signup-form").submit();
                } catch (error) {
                    console.error("Error:%s, Message:%s", error.name, error.message);
                }
            });
        }
    </script>
</body>
</html>
